################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/commits.csproj.user
/.gitignore
/.gitignore
